{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header %}Welcome to Tourist.com{% endblock %}

{% block content %}
<div class="container">
    <p>Curious about China? Choose a city and explore various attractions!</p>
    <div class="attraction-links">
        <div class="attraction-link">
            <a href="{{ url_for('attraction', attraction_id='bj') }}">
                <img src="{{ url_for('static', filename='images/bj1.jpg') }}" alt="Beijing">
                <h2>Beijing</h2>
            </a>
        </div>
        <div class="attraction-link">
            <a href="{{ url_for('attraction', attraction_id='sh') }}">
                <img src="{{ url_for('static', filename='images/sh1.jpg') }}" alt="Shanghai">
                <h2>Shanghai</h2>
            </a>
        </div>
    </div>
</div>
{% endblock %}